<!--This is the real container for the content-->
<div class="container" style="height: 398px; width: 806px; background-color: rgba(98, 136, 240, 0.781);"> 
    <!--width not 1024 because a part is reserved for the left-side persistent panel: lets say 218px for panel and 806px for the rest-->


    <!--todo echte oder fake Werte bekommen für Geschw. usw. ggf. Fake funtion kopieren...-->


    <div class="row mt-5 inforow">
        <div class="col-6">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-9 offset-3">
                        <div class="container">
                            <div class="row">
                                <small class="col-5 text-right">
                                    LEVEL:
                                </small>
                                <small class="col-7 px-0 text-left text-primary">
                                    {{ fuel.level }} Liter
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row inforow">

        <div class="col-6 inforow">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-9 offset-3">
                        <div class="container">
                            <div class="row">
                                <small class="col-5 text-right">
                                    RANGE:
                                </small>
                                <small class="col-7 px-0 text-left text-primary">
                                    {{ fuel.range }} MI
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>



<!--This is just black and not used!-->
<div class="container" style="height: 882px; width: 806px; background-color: black;"> <!--1280-398=882-->
</div>
    



