<head>

    <!--import Google Font "Inter"-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 

</head>


<body>

    <div class="wrapper no-pd no-mg">

        <!--MAP-->
        <div id="mapid" class="background no-pd no-mg" style="height: 398px; width: 1062px; position: fixed; top: 0; left: 0">
            <!--INSERT MAP HERE-->
        </div>

        <!--CONTENT-->
        <div class="content no-mg">


            <!--This is the real container for the content-->
            <div class="container" style="height: 398px; width: 1062px; background-color: transparent;">
                <!--width not 1280 because a part is reserved for the left-side persistent panel: lets say 218px for panel and 1062px for the rest
                according to Documentation:
                Display Dashboard: ca. Auflösung: 1280x398 (16:5) Bildschirm muss aber höher angespielt werden 1280x1024
                -->



                <!-- <button onclick="mapid.setBearing(30);">30</button> -->

                <!--todo speed sign: https://stackoverflow.com/questions/4861224/how-to-use-css-to-surround-a-number-with-a-circle-->

                <!--todo echte oder fake Werte bekommen für Geschw. usw. ggf. Fake funtion kopieren...-->
                <!-- todo gerundete Ecken etc.-->
                <!--todo linksbündig etc.-->
                
                <!--some space horizontal-->
                <div style="height: 10px; width: 1062px"></div>

                <!--use CSS grids instead of bootstrap-->
                <div style="display: grid; grid-template-columns: repeat(100, 1fr);">    

                    <div style="grid-column: span 3;">
                        <!--empty-->
                    </div>
                    <div style="grid-column: span 25;">
                        <!--Info-Box-->
                        <div style="background-color: #14223F; 
                        padding-left: 40px; padding-right: 30px;
                        border-radius: 20px;">       
                            <!--arrival time-->
                            <div style="height: 125px">
                                <div style="height: 8px;"></div>
                                <div class="outside-container" style="">
                                    <div class="">
                                        <span style="font-size: 2rem; font-weight: bold" id="ETA">
                                            <!--{{ ETA }}-->
                                        </span>
                                    </div>
                                </div>
                                <div class="outside-container" style="">
                                    <div class="">
                                        <span style="font-size: 1.5rem"> 
                                            Ankunft
                                        </span>
                                    </div>
                                </div>
                                <div style="height: 8px;"></div>
                            </div>

                        
                            <!--duration-->
                            <div style="height: 125px;">
                                <div style="height: 8px;"></div>
                                <div class="outside-container" style="">
                                    <div class="">
                                        <span style="font-size: 2rem; font-weight: bold" id="remaining_duration">
                                            <!--{{ remaining_duration }}-->
                                        </span>
                                    </div>
                                </div>
                                <div class="outside-container" style="">
                                    <div class="">
                                        <span style="font-size: 1.5rem"> 
                                            Dauer
                                        </span>
                                    </div>
                                </div>
                                <div style="height: 10px;"></div>           
                            </div>

                
                            <!--distance-->
                            <div style="height: 125px;">
                                <div style="height: 8px;"></div>
                                <div class="outside-container" style="">
                                    <div class="">
                                        <span style="font-size: 2rem; font-weight: bold" id="distance">
                                            <!--{{ distance }} km-->
                                        </span>
                                    </div>
                                </div>
                                <div class="outside-container" style="">
                                    <div class="">
                                        <span style="font-size: 1.5rem"> 
                                            Distanz
                                            <!--
                                                Achtung: Mögliche Gesamtdistanz gemäß Tankfüllung
                                                {{ fuel.range }} MI
                                            -->
                                        </span>
                                    </div>
                                </div>
                                <div style="height: 8px;"></div>          
                            </div>
                        </div>
                    </div>
                    <div style="grid-column: span 6;">
                        <!--empty-->
                    </div>
                    <div style="grid-column: span 6;">
                        <!--Geschwindigkeit-->
                        <div id="outer-circle">
                            <div id="inner-circle">    
                                <b>
                                    <span id="allowed_speed"></span>
                                </b>          
                            </div>
                        </div>
                    </div>
                    <div style="grid-column: span 4;">
                        <!--name of steet-->
                        <div style="height: 335px;"></div>
                        <div style="background-color: #000000; 
                        opacity: 0.4;
                        border-radius: 20px;
                        font-size: 1.2rem;
                        height: 40px;
                        line-height: 40px;
                        width: 200px;
                        text-align: center;">                           
                            <span id="name_of_street"></span>
                        </div>

                    </div>
                    <div style="grid-column: span 30;">
                        <!--empty-->
                    </div>
                    <div style="grid-column: span 25;">
                        <!--rechte Box; Original: Opacity = 0.5; aber ist etwas zu schwach-->
                        <div>
                            <div style="background-color: #14223F; 
                            opacity: 0.75;
                            border-top-left-radius: 20px;
                            border-bottom-left-radius: 20px;
                            font-size: 1.2rem;
                            height: 175px;
                            width: 275px;
                            padding-left: 25px;
                            padding-right: 25px">
                                <div style="height: 20px;"></div>
                                <div style="display: grid; grid-template-columns: repeat(100, 1fr);">    

                                    <div style="grid-column: span 50;">
                                        <div style="height: 30px;"> THIS IS <br> A PICTURE </div>
                                    </div>
                                    <div style="grid-column: span 50; font-size: 2rem;">                                      
                                        <span id="remaining_distance_to_next_action"></span>
                                        km
                                    </div>
                                </div>
                                <div style="height: 50px;"></div>
                                    
                                <div>
                                    <span id="name_of_action"></span>
                                </div>
                            </div>
                        </div>
                        <div style="height: 40px;"></div> 


                    </div>
                </div>
            </div>

            <!--This is just black and not used!-->
            <div class="container" style="height: 626px; width: 1062px; background-color: black;"> <!--1024-398=626-->
            </div>

        </div>

    </div>
    <!--<script src="../leaflet-rotate/leaflet-src.js"></script>
    <script src="../leaflet/leaflet.js"></script>
    <script src="../compass/leaflet-compass.js"></script>-->
    
</body>


