$body-bg: transparent;
$body-color: #FFFFFF;
$list-group-bg: transparent;
$font-size-base: 1.5rem;
$input-bg: transparent;
$input-color: #FFFFFF;

@import "~bootstrap/scss/bootstrap";
@import "main.scss";
@import "portrait.scss";
@import "landscape.scss";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

