@media (orientation: landscape) {

    html {
        //background-image: url('../images/horizontal_background.png');
        background-color: rgba(128, 128, 128, 0.289);
    }

    body {
        .speedometertop {
            display: block;
        }

        .speedometerbottom {
            display: none;
        }

        .inforow {
            margin-top: 0 !important;
        }

        .car {
            .warning {
                left: 40%;
                top: 50%;
                animation: blink 3s linear infinite;
            }
        }
    }
}