::-webkit-scrollbar {
    display: none;
}

html {
    height: 100%;
    background-size: cover;
    -webkit-overflow-scrolling: touch;
    overflow: hidden;
}
@keyframes blink{
    0%  { opacity: .25;}
    25% { opacity: .5;}
    50% { opacity: .1;}
    75% { opacity: .5;}
    100%{ opacity: .25;}
}
body {
    overflow: hidden;

    .speed {
        font-size: 8rem;
    }
    
    .log {
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 1080px;
        background: white;
        font-size: 1.5rem;
    }
}


    /*use Google font "Inter"*/
    body{
        font-family: 'Inter', sans-serif;
    }

    .center { /*vertically and horizontally centered*/ /*if only horizontally: use style-tag: text-align: center;*/
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    }

    .outside-container { 
    /*height: 200px;*/
    position: relative;
    }



    /*Speed Sign
    todo make red color linear sequence
    */


    #outer-circle {
    background: rgb(178,0,0);
    background: linear-gradient(180deg, rgba(178,0,0,1) 0%, rgba(50,50,50,1) 100%); 
    border-radius: 50%;
    height: 80px;
    width: 80px;
    position: relative;
    /* 
        Child elements with absolute positioning will be 
        positioned relative to this div 
    */
    }
    #inner-circle {
    position: absolute;
    background: #fff;
    color: black;
    border-radius: 50%;
    width: 60px;
        height: 60px;
        padding: 8px;
        text-align: center;
        font: 38px Arial, sans-serif;
    /*
        Put top edge and left edge in the center
    */
    top: 50%;
    left: 50%;
    margin: -30px 0px 0px -30px;
    /* 
        Offset the position correctly with
        minus half of the width and minus half of the height 
    */
    }

    /* 
        Compass
        TODO
    */



    /* 
        Navigation
    */


.background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    }

.no-pd {
    padding: 0px !important;
}

.no-mg {
    margin: 0px !important;
}

.content {
position: relative;
z-index: 100;
}

.wrapper {
position: relative;
width: 100%;
height: 100%;
}

.container {
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
}
