@media (orientation: portrait) {
    body {
        .speedometertop {
            display: block;
        }

        .speedometerbottom {
            display: none;
        }

        .car {
            .warning {
                left: 35%;
                top: 50%;
                animation: blink 3s linear infinite;
            }
        }
    }
}