<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="webapps-dashboard" version="0.0.0">
  <name>DASHBOARD</name>
  <icon src="icon.svg"/>
  <content src="index.html" type="text/html"/>
  <description>HTML5 Dashboard</description>
  <author>Fabian Luettel, Hochschule Reutlingen; Igalia, S.L.</author>
  <license>APL 2.0</license>
  <feature name="urn:AGL:widget:required-permission">
    <param name="urn:AGL:permission::public:no-htdocs" value="required" />
    <param name="urn:AGL:permission::public:display" value="required" />
    <param name="urn:AGL:permission::public:audio" value="required" />
    <param name="urn:AGL:permission:afm:system:widget" value="required" /> <!-- list available apps -->
    <param name="urn:AGL:permission:afm:system:runner" value="required" /> <!-- run other apps -->
    <param name="urn:AGL:permission::public:applications:read" value="required" /> <!-- get app icons -->
  </feature>
  <feature name="urn:AGL:widget:required-api">
    <param name="homescreen" value="ws" />
    <param name="low-can" value="ws"/>
  </feature>
</widget>
